html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.postsContainer {
  overflow: visible;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 100%; /* גובה מסך מלא */
}

.noPosts {
  text-align: center;
  font-size: 18px;
  color: #555;
}
