.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: #ffffff;
}

.auth-form {
  width: 350px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.auth-form h2 {
  margin-bottom: 20px;
  color: #d1a0d7; 
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #d1a0d7;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

.auth-form input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #d1a0d7;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  box-sizing: border-box;
}

button {
  width: 80%;
  padding: 12px;
  background: #d1a0d7;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s ease;
  color: black;
  margin-bottom: 5px;
}

button:hover {
  background: #c08ac7;
}

p {
  margin-top: 10px;
  font-size: 14px;
}

.form-toggle {
  color: #d1a0d7;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.form-toggle:hover {
  text-decoration: underline;
}

.app-logo {
  width: 180px;
  height: auto;
  margin-bottom: 30px;
}

.password-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.password-container input {
  flex: 1;
  width: 100%;
  padding-right: 50px;
  height: 45px;
  border-radius: 6px;
  border: 1px solid #d1a0d7;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  box-sizing: border-box;
}

.eye-icon {
  position: absolute;
  right: 12px;
  cursor: pointer;
  color: #d1a0d7;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-preview img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 100px;
}